<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
    
</head>

<body>
    <section layout:fragment="content">
            <div class="container px-5 my-5">
                <form th:action="@{/admin/products/saveOrUpdate}" method="post"
                 enctype="multipart/form-data" th:object="${product}">
                    <div div class="card">
                        <div class="card-header">
                            <h2 th:text="${product.isEdit? 'Edit Product' : 'Add New Product'}" ></h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <input type="hidden" th:field="*{isEdit}">
                                    <div class="form-group" th:if="${product.isEdit}">
                                        <label for="productId">Product ID</label>
                                        <input type="text" class="form-control" name="productId" id="productId"
                                            aria-describedby="productIdHId" placeholder="Product Id" th:field="*{productId}">
                                        <small id="productIdHId" class="form-text text-muted">Product id is
                                            required</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" id="name"
                                            aria-describedby="nameHid" placeholder="Name" th:field="*{name}">
                                        <small id="nameHid" class="form-text text-muted">Name is required</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="text" class="form-control" name="quantity" id="quantity"
                                            aria-describedby="quantityHId" placeholder="" th:field="*{quantity}">
                                        <small id="quantityHId" class="form-text text-muted">Quantity is
                                            required</small>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text">Discount</span>
                                        <input type="number" name="discount" id="discount" class="form-control"
                                            placeholder="Discount" th:field="*{discount}">
                                        <span class="input-group-text">%</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryId">Category</label>
                                        <select class="form-control" name="categoryId" id="categoryId" th:field="*{categoryId}">
                                            <option th:each="item : ${categories}" th:value="${item.categoryId}"
                                            th:text="${item.name}" th:select="${item.categoryId == product.categoryId}">Category Name</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3" style="display:flow-root;">
                                    <script>
                                        function chooseFile(fileInput){
                                            if(fileInput.files && fileInput.files[0]){
                                                var reader = new FileReader();

                                                reader.onload = function(e){
                                                    $('#image').attr('src', e.target.result);
                                                }
                                                reader.readAsDataURL(fileInput.files[0]);
                                            }
                                        }
                                    </script>
                                    <img id="image" th:src="${product.image!= null? '/admin/products/images/' + product.image : '/images/no-photo.jpg'}" width="96%"
                                        class="img-fluid"
                                        alt="">
                                    <div class="form-group">
                                        <label for="productImageHId">Image File</label>
                                        <input type="file" class="form-control-file" name="imageFile"
                                            id="productImage" onchange="chooseFile(this)" placeholder="productImage"
                                            aria-describedby="productImageHId">
                                        <small id="productImageHId" class="form-text text-muted">Image not null</small>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text">Unit Price</span>
                                        <input type="number" name="unitPrice" id="unitPrice" class="form-control"
                                            placeholder="Unit Price" th:field="*{unitPrice}">
                                        <span class="input-group-text">vnđ</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" name="status" id="status" th:field="*{status}">
                                            <option value="0">Out of stock</option>
                                            <option value="1">On Sele</option>
                                            <option value="2">Featured</option>
                                            <option value="3">Out or Order</option>
                                            <option value="4">BestSeller</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="">Description</label>
                              <textarea class="form-control" name="description" id="description" 
                             th:field="*{description}"  rows="5"></textarea>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <a th:href="@{/admin/products/add}" class="btn btn-secondary">New</a>
                            <button class="btn btn-primary" th:text="${product.isEdit? 'Update' : 'Save'}">Save</button>
                            <a th:if="${product.isEdit}" th:href="@{'admin/products/delete/' + ${product.productId}}" 
                            class="btn btn-danger float-right">Delete</a>
                        </div>
                    </div>
                </form>
            </div>


    </section>
    </main>
</body>

</html>